# Example usage

To use `snippets2` in a project:

In [14]:
from snippets2 import snippets2
import pandas as pd

In [40]:
df = pd.DataFrame({'test':[1,2,3],'test1':[4,5,6]})
df.to_csv('../tests/test_df.csv')
import os
os.listdir('../tests')

['t.csv', 'test_df.csv', '__pycache__', 'test_snippets2.py']

In [47]:
import seaborn as sns
iris= sns.load_dataset('iris')

In [49]:
iris.pipe(snippets2.cfilter, lambda x: x.columns.str.contains("sepal"), axis="columns")

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [51]:
iris.loc[:,['sepal_length',	'sepal_width']]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [41]:
def df_to_code(df):
    """
    Returns a string that defines to df, used for producing minimal reporoducable examples
    or simple dfs to be used in unit testing.
    eval(df_string) could be used to evaluate the string, or copy paste into code. 
    """
    df_string = ( f"pd.DataFrame ( { str( df.to_dict() ) } )")
    return(df_string)


code_str = df_to_code(df)
code_str

"pd.DataFrame ( {'test': {0: 1, 1: 2, 2: 3}, 'test1': {0: 4, 1: 5, 2: 6}} )"

In [18]:
snippets2.df_to_code(df)

"pd.DataFrame ( {'test': {0: 1, 1: 2, 2: 3}, 'test1': {0: 4, 1: 5, 2: 6}} )"

In [28]:
input_string = """id,elastic,inelastic,public_transport,rent,car_insurance_cost,car_running_cost
5eae3262-16da-4a19-bcbb-6b8aa1c42ef7,90.30355091260965,617.2222622541838,0.0,597.1012083146612,77.83333333333333,120.0
15799bfe-6d98-41aa-a01c-97ac256e1a58,81.71794053632065,577.1909133500595,0.0,490.60810986336713,57.5,120.0
32dc0869-3b91-4f65-a2fb-8182f854fae6,90.30355091260965,617.2222622541838,0.0,597.1012083146612,77.83333333333333,120.0
"""

def csv_string_to_df(input_string):
    df_from_String = pd.DataFrame(
    [x.split(',') for x in input_string.split('\n')[1:]],
    columns=input_string.split('\n')[0].split(",")
    )
    return(df_from_String)

df_from_String = pd.DataFrame(
    [x.split(',') for x in input_string.split('\n')[1:]],
    columns=input_string.split('\n')[0].split(",")
    )
df_from_String

,id,elastic,inelastic,public_transport,rent,car_insurance_cost,car_running_cost
0,5eae3262-16da-4a19-bcbb-6b8aa1c42ef7,90.30355091260965,617.2222622541838,0.0,597.1012083146612,77.83333333333333,120.0
1,15799bfe-6d98-41aa-a01c-97ac256e1a58,81.71794053632065,577.1909133500595,0.0,490.60810986336713,57.5,120.0
2,32dc0869-3b91-4f65-a2fb-8182f854fae6,90.30355091260965,617.2222622541838,0.0,597.1012083146612,77.83333333333333,120.0
3,,None,None,None,None,None,None